@use 'fonts';

.header-section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 90vh;
    background-image: url(../images/Background-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
    width: 100%;
    min-height: 50vh;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
}

.header-text{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.82px;
}

form {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-self: center;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

input {
    flex-grow: 2;
    border: none;
}

input:hover {
    background-color: #ecebeb;
} 

::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    text-align: center;
    color: #999999;
}

.search-btn{
    padding:0 5%;
    height:4rem;
}

.scroll {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
}

.nav-section{
    background-color: #5474FD;
    width: 100%;
}

.nav-header{
    display: flex;
    justify-content: center;
}

.navbar-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.nav-logo{
    max-width: 10%;
}

.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.fa fa-search {
    color: white;
    z-index: 1;
}

.nav-bar{
    max-width: 60%;
    width: 100%;
}

ul {
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.icon {
    display: none;
}

a {
    text-decoration: none;
    font-family: fonts.$secondfont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

li a:hover {
    color: darkblue;
}