.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  background-image: url(../images/Background-img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 50%;
  width: 100%;
  min-height: 50vh;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  /*width: 100px;*/
  -ms-grid-column-align: center;
      justify-self: center;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: none;
}

input:hover {
  background-color: #ecebeb;
}

::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
}

::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
}

:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
}

::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
}

.search-btn {
  padding: 0 5%;
  height: 5rem;
}

.scroll {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
}

.nav-section {
  background-color: #5474FD;
  width: 100%;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.nav-logo {
  max-width: 15%;
}

.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.nav-bar {
  max-width: 60%;
  width: 100%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.icon {
  display: none;
}

a {
  text-decoration: none;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

li a:hover {
  color: darkblue;
}