@use 'fonts';

.main-content1{
    max-width: 60%;
}

.text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
}

.explore-btn, .book-btn{
    padding: 4%;
   
}

.main-section1{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/Background-img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-text1{
    max-width: 50%;
    width: 100%;
    color: #e8e8e8;
}

h2{
    font-family: fonts.$secondfont;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
}

.imgs-main{
    display: flex;
    justify-content: center;
    max-width: 40%;
    width: 100%;
}

.imgs{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.imgs-1{
    display: flex;
    justify-items: flex-start;
    max-width: 100%;
}

.cottage{
max-width: 90%;
}

.imgs-2{
    display: flex;
    justify-content: end;
    max-width: 100%;
}

.mountain{
    max-width: 90%;
}

.main-section2{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #333333;
}

.main-content2{
    width: 100%;
    padding: 2%;
}

.shape{
    max-width: 60%;
    width: 100%;
    top: 10%;
    z-index: 0;
    position: relative;
}

.main-graphics{
    display: flex;
    justify-content: space-around;
    font-family: fonts.$secondfont;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    color:#e8e8e8;
}

.graphics{
    background-color: #333333;
    z-index: 1;
}

.main-section3{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/Background-img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.spain-content{
    width: 50%;
    padding: 2% 3%;
    color:#e8e8e8;
    background-color: rgb(35, 35, 35, 0.9);
}

.spain-text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.5px;
}

.madrid-text{
    text-transform: uppercase;
}

.main-section4{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/Background-img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-section5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    background-image: url(../images/Background-img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content5{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 90%;
    min-height: 60vh;
}

.heading-5{
    font-family: fonts.$secondfont;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
}

.main5-quote{
    display: flex;
    width: 1113px;
    height:285px;
    overflow: auto;
}

.fa-quote-left{
    font-size: 36px;
    line-height: 26px;
    color:#5474FD;
}

.quote-text{
    text-align: start;
    padding: 3% 5%;
    background-color: #333333;
    color: #fefefe;
}

